/* Generics */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

.btn{
    border: none;
    padding: 0.25rem 0.5rem;
    background-color: blue;
    color: white;
}

/* Header */

header{
    height: 10vh;
}

.container-head, .container-head > .container{
    display: flex;
    height: 100%;
    align-items: center;
}

.container-head > .container{
    min-width: 30vw;
    justify-content: space-around;
}

.container-head{
    justify-content: space-between;
}

/* Jumbodron */

main{
    background-color: aqua;
}

.container-jumbo{
    width: 60%;
    margin: 0 auto;
}

.container-jumbo > h1{
    margin-top: 2rem;
    font-size: 5rem;
}

.container-jumbo > .container{
    display: flex;
}

.jumbo-side{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

.btn.jumbo{
    margin: 1rem;
}

.jumbo{
    width: calc(100% / 3 * 2);
    position: relative;
}

.jumbo > img{
    width: 100%;
    position: relative;
    bottom: -3rem;
    
}

