/* Generics */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

.btn{
    border: none;
    padding: 10px 10px;
    background-color: blue;
    color: white;
}

/* Header */

header{
    height: 10vh;
}

.container-head, .container-head > .container{
    display: flex;
    height: 100%;
    align-items: center;
}

.container-head > .container{
    min-width: 30vw;
    justify-content: space-around;
}

.container-head{
    justify-content: space-between;
}

/* Jumbodron */

.jumbodron{
    background-color: aqua;
}

.container-jumbo{
    width: 60%;
    margin: 0 auto;
}

.container-jumbo > h1{
    padding-top: 2rem;
    font-size: 5rem;
}

.container-jumbo > .container{
    display: flex;
}

.jumbo-side{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    position: relative;
}

.btn.jumbo{
    margin: 1.5rem 0;
}

.jumbo{
    width: calc(100% / 3 * 2);
    position: relative;
}

.jumbo > img{
    width: 100%;
    position: relative;
    bottom: -3rem;   
}

.arrow{
    font-size: 3rem;
    position: relative;
    bottom: -3rem;
}

/* Main Container */

.main-container{
    width: 50%;
    margin: 0 auto;
    padding-top: 7rem;
}

.check-list{
    display: flex;
    padding: 3.5rem 0;
}

.check{
    margin-right: 2rem;
}

.check > div{
    height: 1rem;
    width: 1rem;
    border: 1px solid lightgrey;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.check > div:hover{
    border: 5px solid blue;
}

.container-card{
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.container-card > div{
    width: calc(100% / 3 - 2rem);
    border: 1px solid lightgray;
}

.type{
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 0.25rem;
}

.details{
    padding: 1rem;
}

.details > div{
    display: flex;
}


