/* Generics */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dflex{
    display: flex;
}

.sb{
    justify-content: space-between;
}

.start{
    align-items: flex-start;
}

.bsline{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.side{
    width: calc(100% / 3);
}

.aside{
    width: calc(100% / 3 * 2);
}

.textend{
    text-align: end;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
    padding: 0.5rem 0;
}

.btn{
    border: none;
    padding: 10px 10px;
    background-color: blue;
    color: white;
}

.btn.white{
    background-color: white;
    color: inherit;
    border: 1px solid black;
}

.pd1{
    padding: 1rem;
}

.pdt2{
    padding-top: 2rem;
}

.pdt7{
    padding-top: 7rem;
}

.mrgt1{
    margin-top: 1rem;
}

.mrgr2{
    margin-right: 2rem;
}

/* Header */

header{
    height: 10vh;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.container-head, .container-head > .container{
    height: 100%;
    align-items: center;
}

.container-head > .container{
    display: flex;
    min-width: 30vw;
    justify-content: space-around;
}

/* Jumbodron */

.jumbodron{
    background-color: aqua;
}

.container-jumbo{
    width: 60%;
    margin: 0 auto;
}

.container-jumbo > .container{
    display: flex;
}

.jumbo.side{
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    position: relative;
}

.btn.jumbo{
    margin: 1.5rem 0;
}

.jumbo{
    position: relative;
}

.jumbo > img{
    position: relative;
    bottom: -3rem;   
}

.aside > img{
    width: 100%;
}

.arrow{
    font-size: 3rem;
    position: relative;
    bottom: -3rem;
}

/* Main Container */

.main-container{
    width: 50%;
    margin: 0 auto;
}

.check-list{
    display: flex;
    padding: 3.5rem 0;
}


.check > div{
    height: 1rem;
    width: 1rem;
    border: 1px solid lightgrey;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.check > div:hover{
    border: 5px solid blue;
}

.brd{
    border: 1px solid lightgray;
}

.row > div{
    width: calc(100% / 3 - 2rem);
}

.type{
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 0.25rem;
}

.details > .dflex > span{
    margin-right: 0.25rem;
} 

.brdb{
    width: 25%;
    margin-bottom: 5px solid lightgrey;
}

.details > div{
    margin: 1rem 0;
}

.checked::before{
    content: '\2713';
    font-size: large;
    color: blue;
}

.contact{
    margin-top: 2rem;
}

.card > img{
    width: 100%;
}

.decoration{
    text-decoration: underline;
    color: blue;
}

.members{
    width: 100%;
}

.members > div{
    width: calc(100% / 3)
}

.logo-member{
    width: 50%;
    height: calc(100vw / 3 / 2);
}

.logo-member > img{
    width: 100%;
}




